@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">Col1</div>
        <div class="col-md-5">Col2</div>
        <div class="col-sm-4">Col3</div>
    </div>
    <div class="row">
        <div class="col-lg-12">ColF</div>
    </div>
</div>
